{% extends "base.html" %}

{% block content %}

    <h1>ძიების შედეგები</h1>
    <hr>
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
        {% for product in products %}
            <div class="col">
                <div class="card">
                    <div class="embed-responsive embed-responsive-4by3" style="height: 30vh">
                        <img src="/static/{{ product.img }}" class="card-img-top embed-responsive-item"
                             alt="..." style="height: 100%; width: 100%">
                    </div>
                    <div class="card-body">
                        <p class="card-title">{{ product.name }}</p>
                        <h3 class="card-text">{{ product.price }}<sup>₾</sup></h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/view_product/{{ product.id }}" class="btn btn-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-cart-fill" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </svg>
                                კალათაში
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/edit_product/{{ product.id }}" class="btn btn-outline-success">
                                რედაქტირება
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/delete_product/{{ product.id }}" class="btn btn-danger">
                                წაშლა
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}